<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <span class= maindiv>
    <span class="logo">
  <img src="img/facebook.svg" alt="facebook" class = "img" style="height: 90px;">
  <pre><h1>Facebook helps you connect and share 
   with the people in your life.</h1></pre></span>
  <form class="form" action="/" method="POST">
  <input type="email", name="email", placeholder="Email address or phone number" size ="50" class="email" style="margin: 10px; height:50px; border-radius: 10px; padding-left: 15px; border:1px solid grey; margin-left: 20px;"><br>
  <input type="password", name="password", placeholder="Password"  size ="50" class="pw" style="margin: 10px; height:50px; border-radius: 10px; padding-left: 15px; border:1px solid grey; margin-left: 20px;"><br>
  <button class="login" type="submit" style="margin: 10px; margin-left: 20px; background-color: rgb(24, 119, 242); width:370px; height: 50px; border-radius: 10px; color: white;  border: 1px solid white;
"><h2>Log In</h2></button>
  <a style="text-decoration: none;"><h4 class="forgotpw" style="margin: 10px; margin-left: 135px; color: rgb(24, 119, 242); margin-bottom: 20px;">Forgotten password?</h4></a>
  <hr style="width: 370px; margin-left:5px;" >
  <a style="text-decoration: none;"><button class="account" style=" margin-left: 80px; margin-top: 20px; background-color: rgb(50,205,50); width:250px; height: 50px; border-radius: 10px;  color: white; border: 1px solid white;"><h3>Create new account</h3></button></a>
  {{!-- <button type="submit">Submit</button> --}}
  </form>
</span>
</body>
</html>